<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<a th:href="@{/user/create}">Create</a>
<!--/*@thymesVar id="users" type="List<com.vladdjuga.blogsite.model.entity.UserEntity>"*/-->
<div th:each="user:${users}">
    <label>Id : </label>
    <span th:text="${user.id}"></span>
    <label>Username : </label>
    <span th:text="${user.username}"></span>
    <br/>
    <label>Email : </label>
    <span th:text="${user.email}"></span>
    <br/>
    <label>Password : </label>
    <span th:text="${user.password}"></span>
</div>
</body>
</html>