<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
</head>
<body>
<a th:href="@{/blog_post/create}">Create</a>
<!--/*@thymesVar id="posts" type="List<com.vladdjuga.blogsite.model.entity.BlogPostEntity>"*/-->
    <div th:each="post:${posts}">
        <label>Id : </label>
        <span th:text="${post.id}"></span>
        <br/>
        <label>Title : </label>
        <span th:text="${post.title}"></span>
        <br/>
        <label>Content : </label>
        <span th:text="${post.content}"></span>
        <br/>
        <label>Author : </label>
        <span th:text="${post.author}"></span>
    </div>
</body>
</html>